header .header-inner {
  background-color: #e8d6ff;
}

.price {
  color: #9a72d1;
}

.product .item {
  margin-bottom: 30px;
}

/* clase de bootstrap modificada */
.nav-pills .nav-link.active {
  background-color: #e8d6ff;
}